<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\GraphQlServer\Model\Context\ContextFactory">
        <arguments>
            <argument name="values" xsi:type="array">
                <item name="storeViewContext" xsi:type="object">Magento\CatalogGraphQlServer\Model\Context\StoreViewContextValue</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogGraphQlServer\Model\ConnectionFactory">
        <arguments>
            <argument name="connectionFactory" xsi:type="object">Magento\Framework\Model\ResourceModel\Type\Db\ConnectionFactory</argument>
        </arguments>
    </type>
</config>
